* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(./images/backimg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
}
.herotext {
  width: 25%;
  margin: auto;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  background-color: #fff;
  opacity: 0.8;
  color: #488776;
  outline: 2px black;
  border-radius: 15px;
}
.parent {
  display: flex;
  background-color: rgba(54, 54, 54, 0.922);
  color: white;
}

.child1 {
  flex-wrap: wrap;
  flex-basis: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 20px 0 20px 50px;
  color: white;
  font-size: 26px;
  font-weight: 600;
}
.child1 span {
  color: #488776;
}
.child3 {
  display: none;
}
.child2 {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 600;
}
.child2 a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.child2 a:hover {
  color: #488776;
  transition: 0.5s;
}
.child2 .active {
  color: #488776;
}
/* -----gallery style-------- */

.container-mainbox {
  max-width: 1335;
  margin: 0 auto;
  border: 2px solid #488776;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: 2px solid #488776;
}
.grid-items {
  height: auto;
  flex-basis: 20% !important;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #488776;
}
.grid-items img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .grid-items {
    flex-basis: 25% !important;
    height: auto;
  }
}

@media (max-width: 992px) {
  .grid-items {
    flex-basis: 33.33% !important;
    height: auto;
  }
}
@media (max-width: 768px) {
  .grid-items {
    flex-basis: 50% !important;
    height: auto;
  }
}
@media (max-width: 567px) {
  .grid-items {
    flex-basis: 100% !important;
    height: auto;
  }
}

/* ------responsive nav design------- */
@media (max-width: 567px) {
  .child1 {
    margin: 20px 0 20px 20px;
  }
}

@media screen and (min-width: 768px) {
  .parent {
    justify-content: space-around;
  }
  .child1 {
    flex-basis: auto;
    margin: 0;
  }
  .child2 {
    flex-basis: auto;
    margin: 0;
  }
  .child2 a {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .child3 {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0px;
    padding-right: 30px;
  }
  .child3 a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  .child3 a:hover {
    color: #488776;
    transition: 0.5s;
  }
  .child2 {
    display: none;
  }
  .hero .herotext {
    width: 65%;
  }
}

/* ----footer css----- */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.contact-info {
  margin-bottom: 20px;
}
.contact-info div {
  display: inline-block;
  margin-right: 20px;
}
.contact-info i {
  margin-right: 5px;
}
.social-icons {
  margin-bottom: 20px;
}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  font-size: 20px;
}
.social-icons i {
  margin-right: 5px;
}
.social-icons i:hover {
  color: #488776;
}

/* ------responsive footer design------- */

@media screen and (max-width: 768px) {
  .contact-info div,
  .social-icons a {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* ------Heart Button--------- */
.parent-content {
  display: flex;
  width: 100%;
}
.child-text {
  display: flex;
  width: 80%;
}
.heartbtn {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  padding-right: 7px;
}

.container-heart {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-heart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #eee; */
  color: #000;
}
.container-heart:hover input ~ .checkmark {
  background-color: #ccc;
}
.container-heart input:checked ~ .checkmark {
  color: red;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-heart .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.desc {
  display: flex;
  flex-basis: 90%;
}
.container-heart {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 10%;
  justify-content: flex-end;
  /* align-items: ; */
  margin-left: 8px;
}
